* {
box-sizing: border-box;
}
.container {
max-width: 60rem;
margin: auto;
}
.hero{
    height: 30vh;
    background-color: #f4f4f4;
}
.grid{
    display: flex;
    gap: 2em;
}
.grid article{
width: 50%;
padding: 1.5em;
background: #fafafa;
border: 1px solid #ddd;
}
h2 + p {
    color: #e74c3c;
    font-weight: bold;
    margin-bottom: 1em;
}
.price-tag > span{
    font-size: 1.5em;
    font-weight: bold;
    color: #2ecc71;
}
footer a{
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}
.grid article:first-of-type{
    border: 3px solid gold;
}
button{
    background-color: #333;
    color: white;
    padding: 0.8em 1.2em;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #3498db;
}
.features {
    list-style-type: none;
    padding: 0;
}
.features li {
    padding: 0.5em;
    border-bottom: 1px solid #ddd;
}
.features li:nth-child(even) {
    background-color: #eaf2f8;
}